@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #f3f5fc;
    font-family: "Inter", sans-serif;
}

#logo{
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 40px;
}

button{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 24px;
    width: 328px;
    border-radius: 24px;
    border: 1px solid #0a3871;
}

.content{
    display: flex;
    justify-content: flex-end;
}

.left{
    display: flex;
    flex-direction: column;
    margin: 168px 80px 72px 240px;
    justify-content: space-between;
}

#entry{
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    color: #0a3871;
    background: transparent;
    border: none;
    margin: 0;
    width: 680px;
    height: 48px;
}

::placeholder{
    color: #0a3871;
}

.div_aviso{
    display: flex;
    margin-bottom: 16px;
}

.aviso{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #65747D;
    margin-left: 8px;
}

.div_buttons{
    display: flex;
    justify-content: space-between;
}

.cripto{
    color: #f3f5fc;
    background-color: #0a3871;
}

.decripto, #copiar{
    background: transparent;
    color: #0a3871;
}

input:focus, textarea:focus{
    outline: none;
}

.right{
    display: flex;
    flex-direction: column;
    margin: 40px 40px 40px 80px;
}

textarea{
    margin: 32px;
    resize: none;
    border: none;
    width: 336px;
    height: 781px;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    color: #65747D;
}

#copiar{
    margin-bottom: 32px;
}

.right_background{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 944px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 5px 16px -5px rgba(59,59,59,0.71);
}

.right_background img{
    width: 336px;
    height: 304px;
    margin-bottom: 32px;
}

.right_background p{
    width: 336px;
}

.nenhuma{
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 16px;
}

footer{
    text-align: center;
    color: #0a3871;
    font-family: "Inter", sans-serif;
    margin: 8px;
}