@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --cor-primaria: #f3f5fc;
    --cor-secundaria: #65747D;
    --cor-terciaria: #0a3871;
    --cor-hover: ;

    --font-principal: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-primaria);
    font-family: var(--font-principal);
}

#logo{
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 40px;
    padding-left: 84px;
}

button{
    font-family: var(--font-principal);
    font-size: 1rem;
    padding: 24px;
    width: 328px;
    border-radius: 24px;
    border: 2px solid var(--cor-terciaria);
    cursor: pointer;
}

.content{
    display: flex;
    justify-content: flex-end;
}

.left{
    display: flex;
    flex-direction: column;
    margin: 168px 80px 72px 240px;
    justify-content: space-between;
    width: 50%;
}

#entry{
    font-size: 2rem;
    font-family: var(--font-principal);
    color: var(--cor-terciaria);
    background: transparent;
    border: none;
    margin: 0;
    width: 680px;
    height: 48px;
}

::placeholder{
    color: var(--cor-terciaria);
}

.div_aviso{
    display: flex;
    margin-bottom: 16px;
}

.aviso{
    font-family: var(--font-principal);
    font-size: 1rem;
    color: var(--cor-secundaria);
    margin-left: 8px;
}

.div_buttons{
    display: flex;
    justify-content: space-between;
}

.cripto{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
}

.decripto, #copiar{
    background: transparent;
    color: var(--cor-terciaria);
}

input:focus, textarea:focus{
    outline: none;
}

.right{
    display: flex;
    flex-direction: column;
    margin: 40px 40px 40px 0;
}

textarea{
    margin: 32px;
    resize: none;
    border: none;
    width: 336px;
    height: 781px;
    font-size: 1.5rem;
    font-family: var(--font-principal);
    color: var(--cor-secundaria);
}

#copiar{
    margin-bottom: 32px;
}

.right__background{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 944px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 5px 16px -5px rgba(59,59,59,0.71);
}

.right__background img{
    width: 336px;
    height: 304px;
    margin-bottom: 32px;
}

.right__background p{
    width: 336px;
}

.nenhuma{
    font-weight: bold;
    font-family: var(--font-principal);
    font-size: 1.5rem;
    margin-bottom: 16px;
}

footer{
    text-align: center;
    color: var(--cor-terciaria);
    font-family: var(--font-principal);
    margin: 8px;
}

@media (max-width: 1200px) {

    body,html{
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
       
        overflow-x: hidden;
        overflow-y: auto;
    }

    .content{
        flex-direction: column;
        width: 90%;
    }

    .left{
        margin: 0;
        width: 100%;
    }

    .right{
        margin: 0;
        width: 100%;
    }

    #entry{
        margin: 116px 40px 548px 80px;
        width: auto;
    }

    .div_below_entry{
        align-self: flex-start;
        width: 688px;
        margin-left: 80px;
    }

    #logo{
        padding: 0;
        margin-left: 80px;
        margin-top: 73.42px;
        position: static;
    }

    .div_buttons{
        gap: 24px;
    }

    .cripto, .decripto{
        width: 332px;
    }

    .right{
        margin: 40px 0 40px 80px;
        display: flex;
    }

    .right__background{
        width: 688px;
        height: 133px;
    }

    .right__background img{
        display: none;
    }

    #p1, #p2{
        width: 680px;
    }

    #copiar{
        width: 624px;
    }

    textarea{
        width: 624px;
        padding: 32px;
        height: 180px;
    }

    footer{
        padding: 10px;
    }

}

@media (max-width: 780px) {

    body,html{
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
       
        overflow-x: hidden;
        overflow-y: auto;
    }

    .content{
        flex-direction: column;
        width: 90%;
    }

    .left{
        margin: 0;
        width: 100%;
    }

    .right{
        margin: 0;
        width: 100%;
    }
    
    .right,.left{
        flex-direction: column;
        width: 343px;
    }

    #logo{
        padding: 0;
        margin-left: 16px;
        margin-top: 24px;
        position: static;
    }

    #entry{
        margin-left: 16px;
        margin-top: 80px;
        width: auto;
    }

    .right{
        flex-direction: column;
        align-items: center;
        margin-top: 64px;
        margin-left: 24px;
        margin-right: 24px;
        width: 327px;
    }

    .div_below_entry{
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }

    #copiar{
        width: 279px;
    }

    .div_buttons{
        display: flex;
        flex-direction: column;
    }

    .right__background{
        width: 327px;
        height: 186px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #output,#p1,#p2{
        width: 263px;
    }

    textarea{
        width: 279px;
        height: 432px;
    }

}